# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
cities_df = pd.read_csv("../cities.csv")

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

cities_df.head(3)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.5,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.8,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.2,2.37

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 ...]

## Generate Cities List

In [83]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

In [89]:
# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# HOW SHOULD I GET CITY ID?
        #TRY #1
#         test = (cities_df.loc[cities_df['City'] == city, 'City_ID']).tolist()
#         city_id.append(test)

#     #TRY #2
#     for index, row in cities_df.iterrows():
#         city_id.append(row['City_ID'])
city_id = []
for city in cities:
#     city_id_df = cities_df.loc[cities_df['City'] == city, 'City_ID']
    city_id.append(cities_df.loc[cities_df['City'] == city, 'City_ID'])
city_id

[Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 5    5
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 13    13
 Name: City_ID, dtype: int64,
 75    75
 Name: City_ID, dtype: int64,
 392    392
 Name: City_ID, dtype: int64,
 21    21
 Name: City_ID, dtype: int64,
 15    15
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 366    366
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 17    17
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 125    125
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 136    136
 Name: City_ID, dtype: int64,
 28    28
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 81    81
 Name: City_ID, dtype: int64,
 189    189
 Name: City_ID, dtype: int64,
 63    63
 Name: City_ID, dtype: int64,
 2    2
 Name: City_ID, dtype: int64,
 29    29
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 42    42
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 216    216
 Name: City_ID, dtype: int64,
 432    432
 Name: City_ID, dtype: int64,
 139    139
 Name: City_ID, dtype: int64,
 241    241
 Name: City_ID, dtype: int64,
 196    196
 Name: City_ID, dtype: int64,
 117    117
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 163    163
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 384    384
 Name: City_ID, dtype: int64,
 70    70
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 51    51
 Name: City_ID, dtype: int64,
 72    72
 Name: City_ID, dtype: int64,
 193    193
 Name: City_ID, dtype: int64,
 62    62
 Name: City_ID, dtype: int64,
 271    271
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 110    110
 Name: City_ID, dtype: int64,
 210    210
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 4    4
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 40    40
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 167    167
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 48    48
 Name: City_ID, dtype: int64,
 11    11
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 1    1
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 14    14
 Name: City_ID, dtype: int64,
 27    27
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 249    249
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 53    53
 Name: City_ID, dtype: int64,
 321    321
 Name: City_ID, dtype: int64,
 106    106
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 232    232
 Name: City_ID, dtype: int64,
 96    96
 Name: City_ID, dtype: int64,
 44    44
 Name: City_ID, dtype: int64,
 112    112
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 121    121
 Name: City_ID, dtype: int64,
 212    212
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 12    12
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 388    388
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 434    434
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 214    214
 Name: City_ID, dtype: int64,
 162    162
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 165    165
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 140    140
 Name: City_ID, dtype: int64,
 218    218
 Name: City_ID, dtype: int64,
 411    411
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 293    293
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 86    86
 Name: City_ID, dtype: int64,
 64    64
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 536    536
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 103    103
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 157    157
 Name: City_ID, dtype: int64,
 97    97
 Name: City_ID, dtype: int64,
 246    246
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 279    279
 Name: City_ID, dtype: int64,
 248    248
 Name: City_ID, dtype: int64,
 175    175
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 428    428
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 8    8
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 55    55
 Name: City_ID, dtype: int64,
 430    430
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 236    236
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 268    268
 Name: City_ID, dtype: int64,
 69    69
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 181    181
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 47    47
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 225    225
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 517    517
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 420    420
 Name: City_ID, dtype: int64,
 350    350
 Name: City_ID, dtype: int64,
 353    353
 Name: City_ID, dtype: int64,
 359    359
 Name: City_ID, dtype: int64,
 526    526
 Name: City_ID, dtype: int64,
 386    386
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 99    99
 Name: City_ID, dtype: int64,
 182    182
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 402    402
 Name: City_ID, dtype: int64,
 358    358
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 127    127
 Name: City_ID, dtype: int64,
 185    185
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 145    145
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 199    199
 Name: City_ID, dtype: int64,
 32    32
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 120    120
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 429    429
 Name: City_ID, dtype: int64,
 263    263
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 425    425
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 115    115
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 471    471
 Name: City_ID, dtype: int64,
 66    66
 Name: City_ID, dtype: int64,
 41    41
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 173    173
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 285    285
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 435    435
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 245    245
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 195    195
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 519    519
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 310    310
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 204    204
 Name: City_ID, dtype: int64,
 418    418
 Name: City_ID, dtype: int64,
 35    35
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 533    533
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 100    100
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 43    43
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 389    389
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 379    379
 Name: City_ID, dtype: int64,
 56    56
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 151    151
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 391    391
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 178    178
 Name: City_ID, dtype: int64,
 307    307
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 251    251
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 287    287
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 523    523
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 302    302
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 258    258
 Name: City_ID, dtype: int64,
 169    169
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 309    309
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 332    332
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 192    192
 Name: City_ID, dtype: int64,
 447    447
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 348    348
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 61    61
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 118    118
 Name: City_ID, dtype: int64,
 417    417
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 450    450
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 7    7
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 194    194
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 6    6
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 197    197
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 264    264
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 89    89
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 360    360
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 270    270
 Name: City_ID, dtype: int64,
 126    126
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 50    50
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 179    179
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 399    399
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 343    343
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 187    187
 Name: City_ID, dtype: int64,
 65    65
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 397    397
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 221    221
 Name: City_ID, dtype: int64,
 460    460
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 303    303
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 334    334
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 18    18
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 476    476
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),
 326    326
 Name: City_ID, dtype: int64,
 133    133
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 339    339
 Name: City_ID, dtype: int64,
 Series([], Name: City_ID, dtype: int64),
 Series([], Name: City_ID, dtype: int64),

In [76]:
# Print the city count to confirm sufficient count
len(cities)
# print(len(city_id))

623

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it's being processed (with the city number and city name).

In [90]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

# Build query URL and request your results in Celsius
query_url = f"{url}appid={weather_api_key}&units={units}&q="

In [91]:
#TEST COMPLETE: 
cities = ['ostrovnoy', 'mahebourg', 'qaanaaq']

# List for holding temperature of each city
temp = []
humidity = []
cloudiness = []
windspeed = []
lat = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    
    # Get weather data
    weather_response = requests.get(query_url + city)
    weather_json = weather_response.json()
    
    # Get weather info from JSON response and add to the list
    temp.append(weather_json['main']['temp'])
    humidity.append(weather_json['main']['humidity'])
    cloudiness.append(weather_json['clouds']['all'])
    windspeed.append(weather_json['wind']['speed'])
    lat.append(weather_json['coord']['lat'])
    
    # print log of each city as it's being processed (city number and city name).
    print(f"city_numb - {city.title()} processed")

city_numb - Ostrovnoy processed
city_numb - Mahebourg processed
city_numb - Qaanaaq processed

[68.05, -20.41, 77.48]

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [ ]:
# Are we creating a duplicate dataframe except we use API info and trying to see if it's the same as the cityPy csv file?
# I don't really understand. Do I put the print log into a new data frame and save it to a .csv?
cities_api_data_df = pd.DataFrame({
    "City Number": city_numb,
    "City": cities,
    "Latitude": lat,
    "Temperate": temp,
    "Humidity (%)": humidity,
    "Cloudiness (%)": cloudiness,
    "Wind Speed (mph)": windspeed
    })

# Save Data to csv
cities_data_df.to_csv("City_Data.csv")

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
# humidity100_df = cities_api_data_df.loc[cities_api_data_df['Humidity (%)'] > 100, :]
# humidity100_df.head(3)

In [ ]:
#  Get the indices of cities that have humidity over 100%.

#https://stackoverflow.com/questions/41217310/get-index-of-a-row-of-a-pandas-dataframe-as-an-integer/42853445
humidity100_index = cities_api_data_df.loc[cities_api_data_df['Humidity (%)'] > 100, :].index.values.astype(int)[0]

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

In [ ]:
# Extract relevant fields from the data frame


# Export the City_Data into a csv

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots

In [ ]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression